// globals
// Fonts
.font-15 {
    font-size: $font-size-15-rem!important;
}
.font-size-1 {
    font-size: 1rem!important;
}
.font-size-12 {
    font-size: $font-size-12-rem!important;
}
.font-size-15 {
    font-size: $font-size-15-rem!important;
}
.font-size-18 {
    font-size: 1.8rem!important;
}

// Colors

.text-indigo {
    color: $indigo;
}
.text-bluetooth {
    color: #003c96;
}
.body-bg {
    background-color: $body-bg;
}
.bg-lightYellow {
    background-color: #ffff8f;

}
.text-red {
    color: red!important;
}
.radioGreen {
    background-color: #bfe1b2;
}
.text-radio-green {
    color: #bfe1b2;
}
.colorLightBlue {
    color: $colorLightBlue!important;
}
.lightGrey {
    background-color: #f6f5f5;
}
.text-question {
    color: #ffaba8;
}

// Pie chart colors

.bg-colorAmazon {
    background-color: rgba(221,84,28,1);
}
.bg-colorOrganic {
    background-color: rgba(2,147,109,1);
}
.textOrganic {
    color: rgba(2,147,109,1);
}
.bg-colorGoogle {
    background-color: rgba(238,38,126,1);
}
.bg-colorEbay {
    background-color: rgba(105,101,167,1);
}


// hover shadow and scale
.hoverShadowScale {
    &:hover {
        transition: .1s linear all;
        box-shadow: 0px 3px 4px rgba(250, 235, 215, 0.1);
        transform: translateY(-3px);
    }
}


.border-radius-10 {
    border-radius: $border-radius-10;
}
.border-radius-15 {
    border-radius: $border-radius-15!important;
}

.shadowGlobal {
    box-shadow: $cardShadowGlobal;
}
.customDropMenu-show {
    visibility: visible;
}
.customDropMenu-hidden {
    visibility: hidden;
}

//margins and pading
.margin-y-30 {
    margin: 30px auto;
}






// end global classes
