
.image {
    max-width: 90px;
    max-height: 90px;
}
.customCardImage {
    height: 60%!important;
}
.customCardBody {
    min-height: 40%;
}
.customCardCol {
    height: 300px;
}
.customToolTip {
    display: none;
    position: absolute;
    left: 40px;
    .fa-caret-left {
        position: absolute;
        left: -10px;
        top: -4px;
        color: lightgrey;
        margin-right: 3px;
    }
}

.imageUploadsRow {
    min-height: 20vh;
}
.dropzone {
    border: 3px dashed purple;
    background: lightgrey;
}
.dz-preview {
    width: 200px!important;
    height: 200px!important;
}
.dz-image {
    width: 100%!important;
    height: 100%!important;
    border-radius: 0!important;
    img {
        min-width: 100%!important;
        min-height: 100%!important;
        border-radius: 0!important;
        scale: 0;
    }
}
.dz-remove {
    padding: 5px 10px;
}
.dz-rotate {
    background-color: lightgray!important;
    .rotateLeft, .rotateRight {
        z-index:15!important;
    }
}
